*.pyc
*.egg-info
*.py[co]
*.swp
*.sqlite3
*.tmp
*.ini
__pycache__
static_files/
.DS_Store
.idea/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
*.ropeproject
*.sublime-*
queue_spooler/.*